::ng-deep .fc-addEvent-button {
  width: 100% !important;
  max-width: 80px !important;
  /* height: 24px !important; */
  min-height: 38px !important;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
/*
  padding: 0 12px !important; */
}

::ng-deep .fc-addEvent-button .share-button-content {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
}

::ng-deep .fc-addEvent-button svg {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
}
