<div class="flex flex-wrap items-center justify-between mb-4">
  <div class="flex items-center justify-start">
      <!-- <a href="https://flowbite.com" class="flex mr-4"> -->
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-black">Detail Monev</span>
      <!-- </a> -->

    </div>
</div>
<div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-4">
  <!-- Right Content -->
  <div class="col-span-full xl:col-auto">
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="space-y-6">
          <div class="col-span-6 mb-3 sm:col-span-3">
            <span class="block text-sm font-medium text-gray-900 dark:text-gray-400">Nama</span>
            <h4 class="text-base font-semibold text-gray-900 dark:text-white">John Doe</h4>
          </div>
          <div class="col-span-6 mb-3 sm:col-span-3">
            <span class="block text-sm font-medium text-gray-900 dark:text-gray-400">NIM</span>
            <h4 class="text-base font-semibold text-gray-900 dark:text-white">12345678</h4>
          </div>
          <div class="col-span-6 mb-3 sm:col-span-3">
            <span class="block text-sm font-medium text-gray-900 dark:text-gray-400">Nama Pembimbing Lapangan</span>
            <h4 class="text-base font-semibold text-gray-900 dark:text-white">Dr. Smith</h4>
          </div>
          <div class="col-span-6 mb-3 sm:col-span-3">
            <span class="block text-sm font-medium text-gray-900 dark:text-gray-400">Nama Institusi</span>
            <h4 class="text-base font-semibold text-gray-900 dark:text-white">ABC Corporation</h4>
          </div>
          <div class="col-span-6 mb-3 sm:col-span-3">
            <span class="block text-sm font-medium text-gray-900 dark:text-gray-400">Semester</span>
            <h4 class="text-base font-semibold text-gray-900 dark:text-white">6</h4>
          </div>
        </div>
      </div>
  </div>
  <div class="col-span-2">
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
          <h3 class="mb-4 text-xl font-semibold dark:text-white">Response </h3>

          <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Kehadiran</h3>
          <ul class="items-center w-full mb-4 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
              <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                  <div class="flex items-center ps-3">
                      <input id="horizontal-list-radio-license" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                      <label for="horizontal-list-radio-license" class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">Driver License </label>
                  </div>
              </li>
              <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                  <div class="flex items-center ps-3">
                      <input id="horizontal-list-radio-id" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                      <label for="horizontal-list-radio-id" class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">State ID</label>
                  </div>
              </li>
              <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                  <div class="flex items-center ps-3">
                      <input id="horizontal-list-radio-military" type="radio" value="" name="list-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                      <label for="horizontal-list-radio-military" class="w-full py-3 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">US Military</label>
                  </div>
              </li>
          </ul>
          <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Keterangan</h3>
          <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
      </div>
  </div>
</div>
