<div class="fixed top-0 z-30 w-full bg-white border-b border-gray-200">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
          <div class="relative inline-block">
            <img src="/assets/images/logo2.png" class="h-6 sm:h-9 me-3" alt="Logo" />
            <span class="absolute top-0 right-0 bg-gray-100 border border-white text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-100 dark:text-gray-500 transform translate-x-20 -translate-y-1">
                Beta 1.0
            </span>
          </div>
        <!-- <a href="https://flowbite.com" class="flex ms-2 md:me-24">
          <img src="assets/images/logo.png" class="h-8 me-3" alt="FlowBite Logo" />
        </a> -->
      </div>
        <div class="relative user-dropdown">
          <button
            type="button"
            class="flex text-sm transition-all bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 hover:ring-2 hover:ring-blue-400">
            <span class="sr-only">Open user menu</span>
            <div class="flex items-center justify-center w-8 h-8 text-sm font-semibold text-white bg-blue-500 rounded-full">
              {{ userInitial }}
            </div>
          </button>

          <!-- Dropdown menu - muncul saat hover -->
          <div class="dropdown-menu">
            <div class="px-4 py-3 border-bbg-gray-200">
              <p class="text-sm font-semibold text-gray-900 truncate">
                {{ userUsername }}
              </p>
              <p class="text-sm text-gray-500 truncate ">
                {{ userEmail }}
              </p>
              <span class="inline-flex items-center mt-1 px-2 py-0.5 rounded text-xs font-medium bg-black text-white">
                {{ userRole }}
              </span>
            </div>

            <ul class="py-1">
              <li>
                <button (click)="goToDashboard()" class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100 ">
                  Dashboard
                </button>
              </li>
              <li>
                <button (click)="goToProfile()" class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100 ">
                  Profile
                </button>
              </li>
              <li>
                <button (click)="goToSettings()" class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100 ">
                  Settings
                </button>
              </li>
              <li>
                <hr class="my-1 border-gray-200">
              </li>
              <li>
                <button (click)="logout()" class="block w-full px-4 py-2 text-sm text-left text-red-600 hover:bg-gray-100">
                  Sign out
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>


